<ng-container>
  <div class="flex justify-between items-center my-4">
    <h1 class="text-3xl">Directors</h1>
    <div class="flex items-center gap-6">
      <i
        (click)="onAddDirectorClick()"
        class="pi pi-plus-circle text-3xl cursor-pointer"
      ></i>
      <input
        #search
        type="text"
        placeholder="Search..."
        [(ngModel)]="directorsRequest().searchTerm"
        (input)="onSearchDirectors(search.value)"
      />
    </div>
  </div>
  <p-dataView
    #dv
    layout="list"
    loadingIcon="pi pi-spin pi-spinner"
    [value]="directors().items"
    [loading]="loadingDirectors()"
    [paginator]="true"
    [rows]="directorsRequest().pageSize"
    [totalRecords]="directors().totalCount"
    [rowsPerPageOptions]="[5, 10, 15]"
    [lazy]="true"
    [first]="firstItemIndex()"
    (onPage)="onPageChange($event)"
  >
    <ng-template let-director pTemplate="listItem">
      <app-director-item [director]="director"></app-director-item>
    </ng-template>
  </p-dataView>
</ng-container>
