<div
  class="flex flex-col p-2 max-h-full text-xs md:text-base"
  *ngIf="!detailsLoading()"
>
  <div class="flex items-center justify-between">
    <a [routerLink]="['..']"
      ><i class="pi pi-arrow-circle-left text-2xl cursor-pointer"></i
    ></a>
    <div>
      <i
        (click)="onUpdateMovieClick()"
        class="pi pi-pencil text-2xl mr-3 rounded-full p-2 cursor-pointer"
      ></i>
      <i
        (click)="onConfirmDelete()"
        class="pi pi-times-circle text-2xl cursor-pointer"
      ></i>
    </div>
  </div>
  <p-divider align="left">
    <h1 class="text-xl md:text-3xl">
      {{ movieDetails().name }}
    </h1>
  </p-divider>
  <div class="max-h-[90%] overflow-scroll">
    <div class="flex flex-col gap-2 md:gap-8">
      <div class="flex flex-col gap-2">
        <p>
          <span class="mr-2">Category: </span>{{ movieDetails().category.name }}
        </p>
        <p>
          <span class="mr-2">Director: </span>{{ movieDetails().director.name }}
        </p>
        <p>
          <span
            >Rating:
            <i class="pi pi-star-fill text-yellow-500 ml-4 mr-1"></i></span
          >{{ movieDetails().rating }}
        </p>
      </div>
      <div>
        <p>{{ movieDetails().description }}</p>
      </div>
      <p-divider align="left">
        <h1 class="text-lg md:text-xl">Actions</h1>
      </p-divider>
      <app-movie-actions></app-movie-actions>
    </div>
  </div>
</div>
