<div
  class="bg-slate-500 text-slate-300 h-64 rounded-lg m-2 text-center flex flex-col justify-between py-5 px-3 cursor-pointer"
  [routerLink]="['/movies', movie.id]"
>
  <div class="mb-3">
    <p class="font-bold">{{ movie.name }} ({{ movie.director }})</p>
    <h4 class="text-sm mt-1">{{ movie.category }}</h4>
  </div>
  <div>
    <p class="mb-1 text-sm">
      <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
      {{ movie.rating }}
    </p>
    <p class="mt-0 mb-3 text-sm">
      <i class="pi pi-stopwatch mr-1"></i>
      {{ movie.duration }}min
    </p>
  </div>
</div>
