<p-divider align="left">
  <h1 class="text-3xl">Favourite movies</h1>
</p-divider>
<div
  class="w-full"
  *ngIf="favouriteMovies().length !== 0; else emptyFavourites"
>
  <p-carousel [value]="favouriteMovies()" [numVisible]="5" [circular]="false">
    <ng-template let-movie pTemplate="item">
      <app-movie-card [movie]="movie"></app-movie-card>
    </ng-template>
  </p-carousel>
</div>
<ng-template #emptyFavourites>
  <p>You haven't added any movies to favourites list. Start adding some!</p>
</ng-template>
